meta charset="utf-8"
- if (yield :title)
  = yield :title
- else
  title = data["site-title"]

meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"
link rel="shortcut icon" type="image/png" href="/favicon.png"
link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css"
link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'
link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'
link href="stylesheets/all.css" rel="stylesheet" type="text/css"
link href="stylesheets/demo.css" rel="stylesheet" type="text/css"
link href="stylesheets/style.css" rel="stylesheet" type="text/css"
script src="javascripts/modernizr.custom.js"
noscript
  link href="stylesheets/noJS.css" rel="stylesheet" type="text/css"
/ /[if IE]
/   = stylesheet_link_tag "ie"
/ /[if lt IE 9]
/   = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"