@import "sasstoolbox/base"

*, *:before, *:after
  +box-sizing(border-box)
img
  max-width: 100%

body
  &.debug
    //background: url("../images/layout.png") center top no-repeat

.wrapper
  font-family: 'Ubuntu', sans-serif
  font-weight: 300


.logo
  +size(99px 111px)
  @extend %ir
  +bg-retina("../images/logo", "png", 90px, 104px)
.banner
  background: url("../images/banner_bg.jpg") center top
  background-size: cover
  position: relative
  height: 456px
  .text_block
    +at-breakpoint($desktop)
      +span-columns(6,12)
      +pre(1)
      padding-top: 50px
    // +column(6)
    color: $white
    
    h1
      font-size: 72px
      font-weight: bold
    p
  .toolbox_icon
    +at-breakpoint($desktop)
      +span-columns(5 omega,12)
      margin-top: 16px
      img
        margin-left: -50px
        margin-bottom: -50px

.container
  +at-breakpoint($pad)
    +container
    //+susy-grid-background
  +at-breakpoint($desktop)
    +container
    //+susy-grid-background

  // +center-block
  // +breakpoint(phone)
  // +breakpoint(smart)
  // +breakpoint(tablet7)
  //   +wrapper
  // +breakpoint(tablet10)
  //   +wrapper
  // +breakpoint(pcsmall)
  //   +wrapper
  // +breakpoint(pclarge)
  //   +wrapper

.header
  height: 135px
  background-color: #FFF
  box-shadow: 0 0 10px rgba(0,0,0,.15)
  .navigation
  .social_nav
.margin
  margin-top: 80px
.footer
  background-color: #26292E
  color: white
  text-align: center
  padding-bottom: 20px
  font-size: 14px
  h5
    border-bottom: 1px solid rgba(150,150,150,.3)
    font-size: 17px
    line-height: 20px
    padding: 15px
  p
    padding: 15px
  p+p
    padding-top: 0
    margin-top: -10px
.copyright
  font-size: 14px
  padding: 20px
.hl
  +at-breakpoint($desktop)
    +span-columns(10,12)
    +pre(1)
  li:nth-child(1)
    +span-columns(16 omega,16)
  li:nth-child(2)
    +span-columns(8,16)
  li:nth-child(3)
    +span-columns(4,16)
  li:nth-child(4)
    +span-columns(4 omega,16)
  li:nth-child(5)
    +span-columns(4,16)
  li:nth-child(6)
    +span-columns(4 omega,16)
    margin-top: -90px
  li
    margin-bottom: 10px
    display: inline-block
.about
  +pie-clearfix
  li
    +span-columns(3,12)
    background-color: #2F3238
    border: 1px solid rgba(150,150,150,.3)
    height: 239px
    a
      display: block
    &:hover, &.active
      background-color: #c69
    +nth-omega(4n)




/* reset  list style */

.cbp-tm-menu
  list-style: none
  ul
    list-style: none
  display: block
  position: absolute
  z-index: 1000
  bottom: 0
  width: 100%
  background: #47a3da
  text-align: right
  padding: 0 2em
  margin: 0
  text-transform: capitalize
  > li
    display: inline-block
    margin: 0 2.6em
    position: relative
    > a
      line-height: 4em
      padding: 0 0.3em
      font-size: 1.2em
      display: block
      color: #fff

/* set menu position; change here to set to relative or float, etc. */

/* first level menu items */

.no-touch .cbp-tm-menu > li > a
  &:hover, &:active
    color: #02639d

/* sumbenu with transitions */

.cbp-tm-submenu
  position: absolute
  display: block
  visibility: hidden
  opacity: 0
  padding: 0
  text-align: left
  pointer-events: none
  -webkit-transition: visibility 0s, opacity 0s
  -moz-transition: visibility 0s, opacity 0s
  transition: visibility 0s, opacity 0s

.cbp-tm-show .cbp-tm-submenu
  width: 16em
  left: 50%
  margin: 0 0 0 -8em
  opacity: 1
  visibility: visible
  pointer-events: auto
  -webkit-transition: visibility 0s, opacity 0.3s
  -moz-transition: visibility 0s, opacity 0.3s
  transition: visibility 0s, opacity 0.3s

.cbp-tm-show-above .cbp-tm-submenu
  bottom: 100%
  padding-bottom: 10px

.cbp-tm-show-below .cbp-tm-submenu
  top: 100%
  padding-top: 10px

/* extreme cases: not enough space on the sides */

.cbp-tm-nospace-right .cbp-tm-submenu
  right: 0
  left: auto

.cbp-tm-nospace-left .cbp-tm-submenu
  left: 0

/* last menu item has to fit on the screen */

.cbp-tm-menu > li:last-child .cbp-tm-submenu
  right: 0

/*  
 *arrow: depending on where the menu will be shown, we set 
 *the right position for the arrow
 */
.cbp-tm-submenu:after
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none

.cbp-tm-show-above .cbp-tm-submenu:after
  top: 100%
  margin-top: -10px

.cbp-tm-show-below .cbp-tm-submenu:after
  bottom: 100%
  margin-bottom: -10px

.cbp-tm-submenu:after
  border-color: transparent
  border-width: 16px
  margin-left: -16px
  left: 50%

.cbp-tm-show-above .cbp-tm-submenu:after
  border-top-color: #fff

.cbp-tm-show-below .cbp-tm-submenu:after
  border-bottom-color: #fff

.cbp-tm-submenu > li
  display: block
  background: #fff
  > a
    padding: 5px 2.3em 5px 0.6em
    /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
    display: block
    font-size: 1.2em
    position: relative
    color: #47a3da
    border: 4px solid #fff
    -webkit-transition: all 0.2s
    -moz-transition: all 0.2s
    transition: all 0.2s

.no-touch .cbp-tm-submenu > li > a
  &:hover, &:active
    color: #fff
    background: #47a3da

/* the icons (main level menu icon and sublevel icons) */

.cbp-tm-submenu li a:before, .cbp-tm-menu > li > a:before
  font-family: 'cbp-tmicons'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  vertical-align: middle
  margin-right: 0.6em
  -webkit-font-smoothing: antialiased

.cbp-tm-submenu li a:before
  position: absolute
  top: 50%
  margin-top: -0.5em
  right: 0.5em

.cbp-tm-menu > li > a:not(:only-child):before
  content: "\f0c9"
  font-size: 60%
  opacity: 0.3

.cbp-tm-icon-archive:before
  content: "\e002"

.cbp-tm-icon-cog:before
  content: "\e003"

.cbp-tm-icon-users:before
  content: "\e004"

.cbp-tm-icon-earth:before
  content: "\e005"

.cbp-tm-icon-location:before
  content: "\e006"

.cbp-tm-icon-mobile:before
  content: "\e007"

.cbp-tm-icon-screen:before
  content: "\e008"

.cbp-tm-icon-mail:before
  content: "\e009"

.cbp-tm-icon-contract:before
  content: "\e00a"

.cbp-tm-icon-pencil:before
  content: "\e00b"

.cbp-tm-icon-article:before
  content: "\e00c"

.cbp-tm-icon-clock:before
  content: "\e00d"

.cbp-tm-icon-videos:before
  content: "\e00e"

.cbp-tm-icon-pictures:before
  content: "\e00f"

.cbp-tm-icon-link:before
  content: "\e010"

.cbp-tm-icon-refresh:before
  content: "\e011"

.cbp-tm-icon-help:before
  content: "\e012"

/* Media Queries */
@media screen and (max-width: 55.6875em)
  .cbp-tm-menu
    font-size: 80%

@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em)
  .cbp-tm-menu
    font-size: 100%
    position: relative
    text-align: center
    padding: 0
    top: auto
    > li
      display: block
      margin: 0
      border-bottom: 4px solid #3793ca
      &:first-child
        border-top: 4px solid #3793ca
  li.cbp-tm-show > a
    color: #fff
    background: #02639d
  .no-touch .cbp-tm-menu > li > a
    &:hover, &:active
      color: #fff
      background: #02639d
  .cbp-tm-submenu
    position: relative
    display: none
    width: 100%
    > li
      padding: 0
      > a
        padding: 0.6em 2.3em 0.6em 0.6em
        border: none
        border-bottom: 2px solid #6fbbe9
    &:after
      display: none
  .cbp-tm-menu .cbp-tm-show .cbp-tm-submenu
    display: block
    width: 100%
    left: 0
    margin: 0
    padding: 0